body {
  overflow: hidden;
  background-color: dodgerblue;
  color: white;

}

html, body, .App {
  margin: 0; 
  overflow: hidden;
  top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App{
  justify-content: center;
  text-align: center;
  padding: 0;
  max-height: 100%;
}

#NewEventForm {
  position: absolute;
  border: solid 1px black;
  top: 25vh;
  left: 0;
  right: 0;
  align-self: center;
  z-index: 10;
  margin-right: 10vw;
  margin-left: 10vw;
  height: 50vh;
  background-color: dodgerblue;
  border-radius: 25px;
}

#ToggleFormButton {
  position: absolute;
  z-index: 9;

  right: 10vw;
  bottom: 10vh;

  width: 20vw;
  height: 20vw;

  color: white;
  background-color: dodgerblue;
  border-radius: 25px;
}

#Header, #SearchBar {
  height: 8vh;
  background-color: dodgerblue;

  z-index: 100;
}

#Header {
  padding-top: 1vh;
}

.event-item {
  border-bottom: solid 5px darkgrey;
  align-self: center;
  background-color: white;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 30vh;
  text-align: start;
  color: black;
  width: auto;
}


.container {
  z-index: -1;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.container::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.item-container {
  overflow: scroll;
  height: 84vh;
  background-color: white;
  width: 100%;
  color: black;
}

h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 2em; /* a x number of line to show (ex : 2 line)  */
}

h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 2em; /* a x number of line to show (ex : 2 line)  */
}

button {
  display: inline-block;
  border: solid black 1px;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 2px solid #fff;
  outline-offset: -2px;
}

button:active {
  transform: scale(0.99);
}

input {
  border: solid black 1px;
  text-align: center;
}
input:focus {
  outline: 2px solid black;
  outline-offset: -2px;
}